* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;
}

button {
    height: 55px;
    width: 140px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

/*
Don't quite understand why z-index alone didn't put my span 
text first before the ::befor content but position:relative helped
*/
button.ripple-btn span {
    position: relative;
    z-index: 2;
}

button.ripple-btn {
    position: relative;
    overflow: hidden;
}

button.ripple-btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: var(--Y);
    left: var(--X);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #fff500;
    transition: 0.5s linear;
}

button.ripple-btn:hover::before {
    width: 350px;
    height: 350px;
}
